<center><h1><i>Crée ton événement</i></h1>

<form>
   
 <div class="form-floating col-5 m-3">
      <input type="last_name" class="form-control" id="floatingInput" placeholder="last_name">
      <label for="floatingInput">Ton nom et prénom</label>
    </div>

        <div class="form-floating col-5 m-3">
      <input type="last_name" class="form-control" id="floatingInput" placeholder="last_name">
      <label for="floatingInput">Nom de ton événemeent</label>
    </div>

        <div class="form-floating col-5 m-3">
      <input type="last_name" class="form-control" id="floatingInput" placeholder="last_name">
      <label for="floatingInput">Date de ton événement</label>
    </div>

    <div class="form-floating col-5 m-3">
      <input type="last_name" class="form-control" id="floatingInput" placeholder="last_name">
      <label for="floatingInput">Décris-nous ce qu'il va se passer</label>
    </div>
    <div class="checkbox mb-3">
    </div>
    <button class="wbtn btn-lg btn-primary col-3 m-3" type="submit">Ajoute-le</button>
  </form></center>